<mat-card>
  <mat-card-header>
    <mat-card-title>Simple Form (dynamic Form)</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <dynamic-form [formConfig]="personFormConfig"
      (ready)="onPersonReady($event)"
      (change)="onChange($event)"></dynamic-form>

    <button mat-stroked-button
      color="primary"
      (click)="resetForm()">Reset
    </button>
    <button mat-raised-button
      color="primary"
      (click)="submit()"
      [disabled]="!personForm.valid">Submit</button>
  </mat-card-content>
</mat-card>