<mat-card>
  <mat-card-header>
    <mat-card-title>Simple Form (dynamic Form)</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form *ngIf="personForm"
      [formGroup]="personForm">
      <dynamic-form [group]="personForm"
        [formConfig]="personFormConfig"
        (change)="onChange($event)">
      </dynamic-form>
    </form>

    <button mat-stroked-button
      color="primary"
      (click)="resetForm()">Reset
    </button>
    <button mat-raised-button
      color="primary"
      (click)="submit()"
      [disabled]="!personForm.valid">Submit</button>
  </mat-card-content>
</mat-card>