<mat-card>
  <mat-card-header>
    <mat-card-title>Search Form</mat-card-title>
    <mat-card-subtitle>Fill in the postcode to search the address</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="searchForm">
      <dynamic-form [group]="searchForm"
        [formConfig]="searchFormConfig">
      </dynamic-form>
    </form>
    <button type="submit"
      mat-raised-button
      color="primary"
      (click)="onSubmit()">Submit</button>
  </mat-card-content>
</mat-card>