:host {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  flex-shrink: 0;

  nav {
    display: flex;

    a {
      display: block;
      text-decoration: none;
      font-size: 14px;
      padding: 4px 8px;

      &.active {
        background-color: rgb(0 0 0 / 20%);
      }
    }
  }

  .log-button {
    margin-left: auto;
  }
}

.app-body {
  flex: 1;
  background-color: #f0f0f0;
}
