<div class="slider-wrapper"
  [formGroup]="group">
  <div class="label">{{model.label}}</div>

  <app-slider-input-control [min]="model.min"
    [max]="model.max"
    [step]="model.step"
    [formControlName]="model.name"
    (change)="onChange($event)">
  </app-slider-input-control>

  <div class="slider-subscript-wrapper">
    @for (validator of model.validators; track validator) {
    <ng-container ngProjectAs="mat-error">
      @if (hasError(validator.name)) {
      <mat-error>{{validator.message}}</mat-error>
      }
    </ng-container>
    }
  </div>

</div>