<div class="crud-demo-wrapper">
  <div class="master">
    <div class="button-bar">
      <button mat-button
        (click)="createNew()">Add new</button>
    </div>
    <mat-action-list>
      @for (item of $media(); track item.id) {
      <button mat-list-item
        (click)="selectItem(item)">
        <div matListItemTitle>{{item.title}}</div>
        <div matListItemLine>{{item.type}}</div>
      </button>
      <mat-divider></mat-divider>
      }
    </mat-action-list>
  </div>
  <div class="details">
    <div class="button-bar">
      @if (!!selectedItem) {
      <button mat-stroked-button
        (click)="deleteItem()">Delete</button>
      }
      <button mat-raised-button
        (click)="saveItem()"
        [disabled]="mediaFormGroup.invalid">Save</button>
    </div>

    <div class="form-wrapper">
      <form [formGroup]="mediaFormGroup">
        <dynamic-form [formConfig]="mediaFormConfig"
          [group]="mediaFormGroup"></dynamic-form>
      </form>
    </div>
  </div>
</div>